section {
	margin-bottom: 150px;

}

.refs__text {
	display: flex;
	gap: 40px;
	align-items: center;
	margin-bottom: 80px;

	p {
		font-size: 18px;
		font-weight: 400;
	}
}

.refs-links {
	list-style: none;
	display: grid;
	gap: 40px;
	grid-template-columns: 1fr 1fr;
}

